.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--space-5);
}

@media (max-width: 40rem) {
  .container {
    padding-inline: var(--space-4);
  }
}

.sm {
  max-width: calc(var(--space-6) * 20); /* 40rem */
}
.md {
  max-width: calc(var(--space-6) * 24); /* 48rem */
}
.lg {
  max-width: calc(var(--space-6) * 32); /* 64rem */
}
.xl {
  max-width: calc(var(--space-6) * 40); /* 80rem */
}
